<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API</title>
</head>

<body>
    <form class="formContainer" action="/postData" method="post">
        <input class="titleInput" placeholder="Title" name="title"></input>
        <textarea placeholder="Description" name="desc"></textarea>
        <input class="professionInput" placeholder="Profession" name="profession"></input>
        <input class="arrayInput" placeholder="Technology Used" name="tech"></input>
        <input class="arrayInput" placeholder="Technology Used" name="tech"></input>
        <input class="arrayInput" placeholder="Technology Used" name="tech"></input>
        <input class="arrayInput" placeholder="Technology Used" name="tech"></input>
        <button type="submit">Submit</button>
    </form>

    <div class="data">
            
    </div>
</body>

</html>